.demo-example-wrapper {
  background-color: #f1f5f9;
  padding: 32px 12px 4px 12px;
  border-radius: 8px;
  margin-bottom: 12px;
  border: solid 2px #374151;
  overflow: auto;
}

html[data-theme='dark'] .demo-example-wrapper {
  background-color: #0e0a06;
  border: solid 2px #c8beae;
}

.demo-example-buttons {
  display: flex;
  align-items: center;
  gap: 4px;
  padding-top: 10px;
}

.demo-example-buttons button {
  border: 0;
  line-height: 1.25;
  white-space: nowrap;
  padding: 0.25rem 0.5rem;
  font-size: 14px;
  color: #18181b;
  background-color: transparent;
  border-radius: 4px;
}

html[data-theme='dark'] .demo-example-buttons button {
  color: #e7e7e4;
}

.demo-example-buttons button:hover {
  background-color: #dbeafe;
}

html[data-theme='dark'] .demo-example-buttons button:hover {
  background-color: #241501;
}
